@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
:root {
  --gray: #cccaca;
  --mainBlack: #303030;
  --mainRed: #ea5959;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  box-sizing: border-box;
}
h4,
h5 {
  margin: 0;
}
body {
  font-family: "Roboto", Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  color: var(--mainBlack);
  line-height: 1.75;
  /* sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: var(--gray);
}
.header-main {
  background: #303030;
  background: var(--mainBlack);
  color: #cccaca;
  color: var(--gray);
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 1rem 0 0.5rem 0;
}
.header-main section {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.brand {
  /* font-size: 5vw; */
  font-family: cursive;
  margin: 0;
}
.brand span {
  color: var(--mainRed);
}
.tagline {
  display: none;
  margin: auto;
}
.tel-top {
  margin: auto;
}
nav {
  display: none;
  transition: all 0.5s ease-in-out;
}
nav a {
  display: block;
  padding: 0.25rem;
  margin: 0.25rem 0;
  text-align: center;
  transition: color 0.3s linear;
}
nav a:hover,
.active {
  color: #70cffe;
  background-color: #202020;
  transition: all 0.3s ease-in;
}
.nav-toggle {
  cursor: pointer;
  position: relative;
  margin-left: 2rem;
}
.icon {
  opacity: 0.5;
  font-size: 1.3rem;
  width: 20px;
  height: 15px;
}
/* .cart-icon {
  font-size: 1.4rem;
} */
.cart-icon:hover {
  cursor: pointer;
}
.cart-btn {
  position: relative;
  margin-left: auto;
}
.cart-items {
  background-color: #ea5959;
  position: absolute;
  top: -26px;
  right: -10px;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  color: #ffffff;
}
.showNav {
  display: block;
  transition: all 0.5s ease-in-out;
}
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(43, 44, 44, 0.24);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  overflow: scroll;
  z-index: 3;
  background: #e1d8d8;
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparent-bg {
  visibility: visible;
}
.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--mainRed);
  cursor: pointer;
}
.clear-cart-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--mainRed);
  color: #fff;
  border: 1px solid var(--mainRed);
  transition: var(--mainTransition);
  cursor: pointer;
}
.clear-cart-btn:hover {
  background: transparent;
  color: var(--mainRed);
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
/* --------------- End Cart ---------------- */
main {
  padding: 0.8rem;
  flex: 1; /* stretch to push footer down */
}
#gallery {
  width: 100%;
  margin: 0 auto 2rem auto;
  display: flex;
}
#img1 {
  background-color: aqua;
  background-image: url("https://picsum.photos/500/300");
  animation-delay: 1s;
}
#img2 {
  background-color: #608ed3;
  background-image: url("https://picsum.photos/400/300");
  animation-delay: 5s;
}
#img3 {
  background-color: #51b9a3;
  background-image: url("https://picsum.photos/450/300");
  animation-delay: 9.5s;
}
#img4 {
  background-color: #c0657d;
  background-image: url("https://picsum.photos/480/300");
  animation-delay: 13.5s;
}
.img-item {
  background-size: cover;
  background-position: 50% 0;
  flex: 1;
  height: 300px;
  margin: 0px;
  flex-grow: 1;
  transition: all 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
  filter: grayscale(100%);
  animation: filter 4s 1;
}
.img-item:hover {
  flex: 5;
  filter: none;
  transition: all 0.8s cubic-bezier(0.39, 0.58, 0.57, 1);
  background-position-y: 50%;
}
@keyframes filter {
  0% {
    flex: 1;
  }
  50% {
    filter: none;
    flex: 5;
    background-position-y: 50%;
  }
  75% {
    filter: none;
  }
  100% {
    filter: grayscale(100%);
    flex: 1;
  }
}
/* --------------- Products ---------------- */

.product {
  background-color: #f0c06930;
  padding-bottom: 1rem;
  line-height: 1.5;
}
.products {
  padding: 4rem 0;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--mainBlack);
  color: var(--gray);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: #fff;
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.fa.fa-shopping-cart {
  font-weight: 600;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
  filter: grayscale(70%);
}
.product:hover .product-img,
.img-container:hover .product-img {
  filter: none;
}
.product h3 {
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 0;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  font-weight: 300;
  font-size: 0.9rem;
}
.product h4 {
  margin-top: 0.1rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
  font-weight: 300;
  font-size: 0.9rem;
}

/* ---------------End of Products ---------------- */
#testimonial {
  background-color: #cccaca;
  background-color: var(--gray);
  padding: 1rem 0;
  margin-top: 2rem;
}
blockquote {
  position: relative;
  box-sizing: border-box;
  margin: 2rem 1rem 1rem 1rem;
  clear: both;
}
.avatar {
  width: 50px;
  height: 50px;
  background-color: #6b7585;
  border-radius: 5px;
  float: left;
  margin: 0.4rem 0.5rem 0 0;
}
.fa-quote-right {
  position: absolute;
  color: #8b8b8b;
  font-size: 1.5rem;
  right: 10%;
}
/*******************************

team styles

***********************************/
.team ul {
  background-color: #f0c06930;
  box-shadow: 0 2px 8px 0 #a0a0a0;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  text-align: center;
}
.team li {
  list-style: none;
  line-height: 1.7rem;
  font-size: 1rem;
}
.team img {
  display: block;
  box-shadow: 0 1px 5px 0 #202020;
  width: 100px;
  margin: 12px auto;
  border-radius: 50%;
}
.team li:nth-child(2) {
  font-family: Lato, sans-serif;
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: 2px;
}
.team li:nth-child(3) {
  font-style: italic;
  font-size: 0.9rem;
}
footer {
  color: #cccaca;
  color: var(--gray);
  background-color: #303030;
  background-color: var(--mainBlack);
  font-size: 0.9rem;
  text-align: center;
}
/************************************ 
  
media queries

*************************************/

@media (min-width: 37.5rem) {
  body {
    font-size: 1.1rem;
  }
  header {
    font-size: initial;
  }
  .header-main {
    position: static;
  }
  .header-main p {
    display: block;
  }
  .nav-toggle {
    display: none;
  }
  nav {
    display: block;
    box-sizing: border-box;
    text-align: right;
    padding: 0 1.5rem;
    transition: all 0.1s cubic-bezier(0.39, 0.58, 0.57, 1);
  }
  nav a {
    display: inline-block;
    padding: 0.5rem;
    font-size: initial;
  }
  .nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(19, 19, 19);
    opacity: 0.9;
    z-index: 3;
    transition: all 1.5s cubic-bezier(0.39, 0.58, 0.57, 1);
  }
  .cart {
    width: 30vw;
    min-width: 450px;
  }
  main {
    margin-top: 2rem;
    padding: 2rem 1rem;
  }
  #gallery {
    width: 80%;
    margin: 0 auto 2rem auto;
    display: flex;
  }
  #testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  blockquote {
    margin: 1rem;
  }
  .team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }
}
