body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: .9rem;
  line-height: 2.075;
  /* sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root {
  --gray: #cccaca;
  --bg-main: #303030;
}
a {
  text-decoration: none;
  color: var(--gray);
}
header {
  background: #303030;
  background: var(--bg-main);
  color: #cccaca;
  color: var(--gray);
  position: relative;
  padding: .5rem 0;
}
header section {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 5vw;
  font-family: cursive;
  margin: 0;
}
header p {
  display: none;
  margin: 0;
}
.tel-top {
  color: #f0c069;
}
nav {
  display: none;
  transition: all .5s ease-in-out;
}
nav a {
  display: block;
  padding: .25rem;
  margin: .25rem 0;
  text-align: center;
  transition: color .3s linear;
}
nav a:hover, .active {
  color: #70cffe;
  background-color: #202020;
  transition: all .3s ease-in;
}
#nav-toggle {
  cursor: pointer;
  position: relative;
}
.icon-menu {
  opacity: .5;
  width: 20px;
  height: 15px;
}
.show {
  display: block;
  transition: all .5s ease-in-out;
}
main {
  padding: .8rem;
  flex: 1; /* stretch to push footer down */
}
#gallery {
  width: 100%;
  margin: 0 auto 2rem auto;
  display: flex;
}
#img1 {
  background-color: aqua;
  background-image: url('https://picsum.photos/500/300');
  animation-delay: 1s;
}
#img2 {
  background-color: #608ed3;
  background-image: url('https://picsum.photos/400/300');
  animation-delay: 5s;
}
#img3 {
  background-color: #51b9a3;
  background-image: url('https://picsum.photos/450/300');
  animation-delay: 9.5s;
}
#img4 {
  background-color: #c0657d;
  background-image: url('https://picsum.photos/480/300');
  animation-delay: 13.5s;
}
.img-item {
  background-size: cover;
  background-position: 50% 0;
  /* width: 5%; */
  flex: 1;
  height: 300px;
  margin: 0 -12px;
  flex-grow: 1;
  transition: all .5s cubic-bezier(0.39, 0.58, 0.57, 1);
  filter: grayscale(100%);
  animation: filter 8s 1;
}
.img-item:hover {
  /* width: 60%; */
  flex: 5;
  filter: none;
  transition: all 1s cubic-bezier(0.39, 0.58, 0.57, 1);
  background-position-y: 50%;
}
@keyframes filter {
 0% {
   /* width: 5%; */
   flex: 1;
 }
 50% {
   filter: none;
   /* width: 90%; */
   flex: 5;
   background-position-y: 50%;
 }
 100% {
  filter: grayscale(100%);
  /* width: 5%; */
  flex: 1;
 }
}
#testimonial {
  background-color: #cccaca;
  background-color: var(--gray);
  padding: 1rem 0;
  margin-top: 2rem;
}
blockquote {
  position: relative;
  box-sizing: border-box;
  margin: 2rem 1rem 1rem 1rem;
  clear: both;
}
/* blockquote + blockquote {
  margin-top: 2rem;
} */
.avatar {
  width: 50px;
  height: 50px;
  background-color: #6b7585;
  border-radius: 5px;
  float: left;
  margin: .4rem .5rem 0 0;
}
.fa-quote-right {
  position: absolute;
  color: #8b8b8b;
  font-size: 1.5rem;
  right: 10%;
}
/*******************************

team styles

***********************************/
.team ul {
  background-color: #ededed;
  box-shadow: 0 2px 8px 0 #a0a0a0;
  padding: .5rem .5rem 1rem .5rem;
  text-align: center
}
.team li {
  list-style: none;
}
.team img {
  display: block;
  box-shadow: 0 1px 5px 0 #202020;
  width: 100px;
  margin: 12px auto;
  border-radius: 50%;
}
.team  li:nth-child(2) {
  font-family: Lato, sans-serif;
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: 2px;
}
.team  li:nth-child(3){
  font-style: italic;
  font-size: .9rem;
}
footer {
  color: #cccaca;
  color: var(--gray);
  background-color: #303030;
  background-color: var(--bg-main);
  font-size: .9rem;
  text-align: center;
}
/************************************ 
  
media queries

*************************************/

@media (min-width: 37.5rem) {
  body {
    font-size: 1.1rem;
  }
  header {
    font-size: initial;
  }
  header p {
    display: block;
  }
  #nav-toggle {
    display: none;
  }
  nav {
    display: block;
    box-sizing: border-box;
    text-align: right;
    padding: 0 1.5rem;
    transition: all .1s cubic-bezier(0.39, 0.58, 0.57, 1);
  }
  nav a {
    display: inline-block;
    padding: .5rem;
    font-size: initial;
  }
  .nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(19, 19, 19);
    opacity: .9;
    z-index: 2;
    transition: all 1.5s cubic-bezier(0.39, 0.58, 0.57, 1);
  }
  main {
    margin-top: 2rem;
    padding: 2rem 1rem;
  }
  #gallery {
    width: 80%;
    margin: 0 auto 2rem auto;
    display: flex;
  }
  #about {
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
  }
  #testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  blockquote  {
    margin: 1rem;
  }
  .team {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .team ul {
    margin: .5rem;
  }
}